from airflow.operators.python import PythonOperator



def load_task(**kwargs):
    print(f"loading data into destination")

load_task = PythonOperator(
    task_id="load_task",
    python_callable=load_task,
    op_kwargs={"params": {"destination": "{destination}"}},
    dag=dag,
)

{% include dag_description.load.template %}