from airflow.providers.postgres.operators.postgres import PostgresOperator

PostgresOperator(
                task_id="{{ dag_description.load.task_id }}",
                sql="select 1"
            )