# type: ignore
# flake8: noqa
from __future__ import annotations
import pendulum
from airflow.models.dag import DAG

dag = DAG(
    dag_id="{{ dag_description.extract.conn_id }}_to_{{ dag_description.load.conn_id }}",
    start_date=pendulum.datetime(2021, 1, 1, tz="UTC"),
    catchup={{dag_description.dag.catchup}},
    tags={{ dag_description.dag.tags }},
    schedule="{{ dag_description.dag.schedule }}",
)
{% if 'extract' in dag_description %}
   # extract
   {% include 'extract/base.py.jinja' %}
{% endif %}

{% if 'load' in dag_description %}
   # load
   {% include 'load/base.py.jinja' %}
{% endif %}

{% if 'wait' in dag_description and dag_description.get("wait") %}
   # wait
   {% include 'wait.py.jinja' %}
{% endif %}

{% if 'report' in dag_description and dag_description.get("report") %}
   # report
   {% include 'report.py.jinja' %}
{% endif %}

{% if 'transform' in dag_description and dag_description.get("transform") %}
   # transform
   {% include 'transform.py.jinja' %}
{% endif %}

# extract >> wait>> transform >> wait >> load
# [END howto_branch_datetime_operator]
